<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>WebTimPhongTro</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>roomController</display-name>
    <servlet-name>roomController</servlet-name>
    <servlet-class>controller.roomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomController</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/room-detail</url-pattern>
    <url-pattern>/room-info</url-pattern>
    <url-pattern>/rooms</url-pattern>
    <url-pattern>/search-rooms</url-pattern>
    <url-pattern>/add-room</url-pattern>
    <url-pattern>/edit-room</url-pattern>
    <url-pattern>/delete-room</url-pattern>
    <url-pattern>/my-rooms</url-pattern>
    <url-pattern>/room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userController</display-name>
    <servlet-name>userController</servlet-name>
    <servlet-class>controller.userController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/user</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminController</display-name>
    <servlet-name>adminController</servlet-name>
    <servlet-class>controller.adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminController</servlet-name>
    <url-pattern>/admin_login</url-pattern>
    <url-pattern>/admin</url-pattern>
    <url-pattern>/admin_logout</url-pattern>
    <url-pattern>/admin_dashboard</url-pattern>
    <url-pattern>/admin_users</url-pattern>
    <url-pattern>/admin_rooms</url-pattern>
  </servlet-mapping>
</web-app>